.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forum {
  align-self: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1024px;
  padding: 55px 15px;
}

.title {
  text-align: center;
}

.container {
  width: 100%;
  border-top: 1px solid var(--color-border);
  padding-top: 20px;

  .topic {
    min-height: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 16px;
    border: 1px solid #FFF;
    margin-bottom: 20px;

    .topicBody {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-right: 20px;
      border-right: 1px solid var(--color-border);

      h3 {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        text-transform: uppercase;
        line-height: 25px;
      }

      a {
        text-decoration: underline;
        color: var(--button-color-background-secondary);
        width: fit-content;
      }
    }

    &:hover {
      border: 1px solid var(--color-border);
      background: var(--opacity);
    }
  }
}

.lastComment {
  font-size: 14px;
  color: var(--color-text-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}

.commentsCount {
  color: var(--color-text-gray);
  text-align: center;
}

.topicCreated {
  color: var(--color-text-gray);
  font-size: 12px;
}
