.topicTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-border);

  button {
    width: fit-content;
    min-width: 210px;
  }
}

.container {
  width: 100%;
  padding-top: 20px;

  .topic {
    min-height: 60px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid var(--color-border);
    margin-bottom: 15px;
    background: var(--half-opacity);

    .topicBody {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;

      h3 {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        text-transform: uppercase;
      }

      .titleLink {
        border: none;
        padding: 0;
        color: var(--button-color-background-secondary);
      }

      a {
        width: fit-content;
        border: 1px solid var(--color-border);
        font-size: 14px;
        padding: 10px 15px;
        border-radius: 16px;

        &:hover {
          text-decoration: underline;
        }

        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.topicCreated {
  display: flex;
  gap: 10px;
}

.topicForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  overflow: hidden;
  padding-top: 20px;

  h2 {
    margin: 0;
  }

  textarea {
    padding-right: 50px;
  }

  .submitButton {
    max-width: 200px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 12px 0;
    background: none;
    padding: 15px;
  }
}

.slideDown {
  max-height: 300px;
  transition:
          max-height 0.75s ease-in-out,
          opacity 0.75s ease-in-out,
          margin 0.75s ease-in-out;
  overflow: hidden;
  opacity: 1;
  margin-top: 15px;
}

.slideUp {
  max-height: 0;
  transition:
          max-height 0.75s ease-in-out,
          opacity 0.75s ease-in-out,
          margin 0.75s ease-in-out;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
}
