.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  form > div {
    margin-bottom: 40px;
  }

  button {
    width: 220px;
    padding: 14px 25px;
  }
}

.profile {
  align-self: center;
  flex-grow: 1;
  width: 100%;
  max-width: 630px;
  padding: 40px 15px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.exitButton {
  background: var(--forms-color-border-error);
}

.avatar {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}

.changePassword {
  display: block;
  margin-bottom: 20px;
}
