@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Overpass:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700;6..12,900&family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  /* Font */
  --font: 'Nunito', sans-serif;
  --font-size-base: 17px;
  --font-size-medium: 24px;
  --font-size-big: 40px;

  /* Sets of colors */
  --color-text: #23272F;
  --color-text-gray: #777777;
  --color-text-white: #ffffff;

  --color-background: #ffffff;
  --color-background-secondary: #23272F;

  --color-border: #e5e5e5;

  --disabled: #afafaf;

  --opacity: rgba(0, 0, 0, 0.05);

  /* Form */
  --forms-color-background: var(--color-background);
  --forms-color-border: var(--color-border);
  --forms-color-border-error: #F36C6C;

  /* Button */
  --button-color-background: #23272F;
  --button-color-background-secondary: #F77F00;
  --button-color-background-disabled: #e5e5e5;

  --game-widget: #556075;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--color-background);
}

html {
  font-family: var(--font);
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:active, &:hover {
    outline: 0;
  }
}

img, audio, iframe, svg, video {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input, textarea, button, optgroup, select {
  margin: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

input:disabled {
  color: var(--disabled);
}

textarea {
  resize: vertical;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
}

h1 {
  font-size: var(--font-size-big);
  font-weight: 900;
  letter-spacing: 0.7px;
  margin: 15px 0;
  line-height: var(--font-size-big);
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: 900;
  margin: 15px 0;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);
  width: 100vw;
  height: 100vh;
  background-image: repeating-conic-gradient(#ffffff 0% 25%, rgb(222 222 222 / 15%) 0% 50%);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.ellipsis-content {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spinner {
  font-size: 4rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
