@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Overpass:wght@400;500;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: 'PT-Sans', sans-serif;
  font-size: $base-font-size;
}

h1 {
  font-family: 'Overpass', sans-serif;
  font-size: $extra-large;
  font-weight: 900;
  margin-bottom: $large;
}

input {
  width: 100%;
  min-height: $extra-large;
  padding: .75rem;
  border: 2px solid $dark;
  border-radius: .75rem;
  font-size: 1.5rem;
  font-family: 'PT-Sans', sans-serif;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 700;
}

a {
  font-size: $large;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  color: $dark;
}

button {
  display: block;
  width: 100%;
  min-height: $extra-large;
  background-color: $primary;
  color: $light;
  border: none;
  border-radius: .75rem;
  cursor: pointer;
  font-size: $large;
  font-weight: 700;
  margin: $large 0;
}

.text-align-center {
  text-align: center;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 1.5rem;
  width: 45rem;
  margin: 0 auto;

  .input-wrapper {
    width: 100%;
  }

  .button-container {
    grid-column: 1 / span 2;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  a {
    display: block;
  }
}

.validation-error {
  label {
    color: $danger;
  }
  input {
    margin-bottom: .25rem;
    color: $danger;
    border-color: $danger;
  }
  span {
    color: $danger;
    margin-top: .5rem;
    font-size: .75rem;
  }
}
