@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Overpass:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700;6..12,900&family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  /* Font */
  --font: 'Nunito', sans-serif;
  --font-size-base: 16px;
  --font-size-medium: 24px;
  --font-size-big: 40px;

  /* Sets of colors */
  --color-text: #23272f;
  --color-text-gray: #777777;
  --color-text-white: #ffffff;

  --color-background: #ffffff;
  --color-background-secondary: #23272f;

  --color-border: #e5e5e5;

  --disabled: #afafaf;

  --opacity: rgba(0, 0, 0, 0.025);
  --half-opacity: rgba(255, 255, 255, 0.5);

  --second-color: #004570;

  --gradient: repeating-conic-gradient(from 0, rgb(248, 248, 248) 0% 25%, #ffffff 0% 50%) 50%/40px 40px fixed;

  /* Form */
  --forms-color-background: var(--color-background);
  --forms-color-border: var(--color-border);
  --forms-color-border-error: #ee3131;

  /* Button */
  --button-color-background: #23272f;
  --button-color-background-secondary: #f75f00;
  --button-color-background-disabled: #e5e5e5;

  /* Game */
  --game-board: #23272f;
  --game-widget: #556075;
}

:root[data-theme="light"] {
  --color-background-secondary: var(--second-color);
  --button-color-background: var(--second-color);
  --game-widget: #36749f;
  --gradient: repeating-conic-gradient(from 0, rgb(246, 248, 255) 0% 25%, #ffffff 0% 50%) 50%/40px 40px fixed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  transition:
          background-color 0.25s ease-in-out,
          color 0.25s ease-in-out,
          stroke 0.05s ease-in-out,
          opacity 0.5s ease-in-out,
          border 0.5s ease-in-out;
}

html,
body,
#root {
  height: 100%;
  background: var(--gradient);
}

html {
  font-family: var(--font);
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--color-text);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }
}

img,
audio,
iframe,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input,
textarea,
button,
optgroup,
select {
  margin: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

.form-label {
  font-weight: 900;
}

input,
textarea {
  padding: 12px 15px;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  resize: none;
}

input:disabled {
  color: var(--disabled);
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: not-allowed;

  img {
    opacity: 0.25;
    cursor: default;
  }
}

b {
  font-weight: 900;
}

h1 {
  font-size: var(--font-size-big);
  font-weight: 900;
  letter-spacing: 0.7px;
  margin: 25px 0;
  line-height: var(--font-size-big);
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: 900;
  margin: 15px 0;
}

h3 {
  font-size: var(--font-size-medium);
  font-weight: 900;
}

.ellipsis-content {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  align-self: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1024px;
  padding: 125px 15px 25px 15px;
}
