/* Sizes */
$base-font-size: 16px;
$medium: 1rem;
$large: 2rem;
$extra-large: 4rem;

/* Base Colors */
$primary: #1e85e4;
$secondary: #f4f4f6;
$success: #04b420;
$warning: #ffca2b;
$danger: #d21212;
$light: #ffffff;
$dark: #000000;

/* Other Colors */
$silver: #a5aab2;
