/* Sizes */
$base-font-size: 16px;
$large: 2rem;
$extra-large: 4rem;

/* Base Colors */
$primary: #1E85E4;
$secondary: #28507A;
$success: #04B420;
$warning: #FFCA2B;
$danger: #D21212;
$light: #FFFFFF;
$dark: #000000;

/* Other Colors */
$silver: #A5AAB2;