.wrapper {
  width: 100vw;
  height: 100vh;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 120px;
}

.endGame {
  position: absolute;
  top: calc(50% - 50vh - 106px);
  left: calc(50% - 50vw);
  right: 0;
  color: var(--color-text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  border-radius: 10px;
  height: 100vh;
  flex-direction: column;

  & span {
    font-size: 30px;
  }
}

.points {
  border-radius: 0 0 10px 10px;
  background: var(--game-board);
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  color: var(--color-text-white);
}

.footer {
  border-radius: 10px 10px 0 0;
  background: var(--game-widget);
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  color: var(--color-text-white);
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionName {
  color: var(--button-color-background-secondary);
  text-align: center;
  font-family: PT Sans, 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.optionValue {
  text-align: center;
  font-family: PT Sans, 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.button {
  margin: 0;
  height: 50px;
  width: fit-content;
  padding: 10px;
}

.launchButton {
  background: var(--button-color-background-secondary);
  padding: 10px;
  height: 50px;
  &:disabled {
    background: var(--forms-color-border-error);
    opacity: 1;
    cursor: not-allowed;
    color: var(--color-text-white);
  }
}

.iconButton {
  max-width: 50px;
  height: 50px;
  left: 30px;
  padding: 15px;
  border-radius: 12px;
  background: var(--button-color-background);
  & img {
    width: 100%;
  }
}

.hoorayIcon {
  position: absolute;
  top: -10%;
  left: 37.5%;
  width: 250px;
}

.timer {
  font-size: 50px;
  line-height: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
}
