.wrapper {
  width: 100vw;
  height: 100vh;
}

.field {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.endGame {
  position: absolute;
  top: Calc(50% - 270px);
  left: Calc(50% - 250px);
  right: 0;
  bottom: 85px;
  color: var(--color-text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-weight: 700;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  flex-direction: column;
}

.handlers {
  border-radius: 10px 10px 0 0;
  background: var(--game-widget);
  display: flex;
  flex-direction: row;
  padding: 30px 30px 30px 150px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  height: 100px;
  position: absolute;
  width: 1100px;
  bottom: 0;
  left: calc(50% - 550px);
  color: var(--color-text-white);
}

.options {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 60%;
  justify-content: space-between;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionName {
  color: var(--button-color-background);
  text-align: center;
  font-family: PT Sans, 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.optionValue {
  text-align: center;
  font-family: PT Sans, 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttons {
  display: flex;
  gap: 15px;
}

.button {
  margin: 0;
}

.launchButton {
  background: var(--button-color-background-secondary);
  &:disabled {
    background: var(--forms-color-border-error);
    opacity: 1;
    cursor: not-allowed;
    color: var(--color-text-white);
  }
}

.resize-button {
  width: 40px;
  left: 30px;
  padding: 7.5px;
  border-radius: 7.5px;
  background: var(--button-color-background);
  position: absolute;
  & img {
    width: 100%;
  }
}

.hoorayIcon {
  position: absolute;
  top: -10%;
  left: 37.5%;
  width: 250px;
}
