.wrapper {
  /* background-color: white; */
  padding: 0 24px;
  /* border-radius: 24px; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* width: calc(100% - 128px); */
  /* height: calc(100% - 96px); */
  gap: 24px;
}

.field {
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.endGame {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 85px;
  background-color: var(--field-bg);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: 700;
  border-radius: 12px;
}

.handlers {
  border-radius: 12px;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 30px 24px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  height: 555px;
  max-height: 705px;
  margin-top: 85px;
}

.options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionName {
  color: var(--silver);
  text-align: center;
  font-family: PT Sans, 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.optionValue {
  text-align: center;
  font-family: PT Sans, 'sans-serif';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.restartButton {
  font-size: 20px;
  margin: 0;
}

.button {
  margin: 0;
  &:disabled {
    background: var(--danger);
    opacity: 1;
    cursor: not-allowed;
  }
}

.resize-button {
  position: absolute;
  width: 50px;
  min-height: 50px;
  bottom: 0;
  padding: 7.5px;
  border-radius: 7.5px;
  display: flex;
  background: var(--dark);
  & img {
    width: 100%;
  }
}
