.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 48px;
  background-color: white;

  //.logo {
  //  font-size: 24px;
  //  font-style: normal;
  //  font-weight: 900;
  //  line-height: normal;
  //  letter-spacing: 0.72px;
  //  text-transform: uppercase;
  //}

  //ul {
  //  display: flex;
  //  align-items: center;
  //  gap: 35px;
  //
  //  li {
  //    display: flex;
  //    align-items: center;
  //    list-style-type: none;
  //  }
  //
  //  a {
  //    display: inline-block;
  //    font-size: 24px;
  //    font-style: normal;
  //    font-weight: 900;
  //    line-height: normal;
  //    letter-spacing: 0.72px;
  //    text-transform: uppercase;
  //  }
  //}
}

.active {
  background: var(--link-active);
  border-radius: 128px;
  padding: 12px 24px;
}

.btnExit {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #1F252D;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;

  svg {
    margin-right: 10px;
  }
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.15);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: .5px solid var(--primary-active);
  background: linear-gradient(
                  to left,
                  var(--primary-active) 0%,
                  var(--primary) 8%,
                  var(--primary) 92%,
                  var(--primary-active) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: var(--primary);
  border: .5px solid var(--primary-active);
  border-top: 0;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow:
          .5px .5px 0 rgba(0, 0, 0, 0.05),
          -.5px -.5px 0px rgba(0, 0, 0, 0.05),
          .5px -.5px 0px rgba(0, 0, 0, 0.05),
          -.5px .5px 0px rgba(0, 0, 0, 0.05);
}

.activeLink .front {
  background: var(--primary-active);
  transform: translateY(-6px);
  border: .5px solid var(--primary);
  border-top: 0;
  text-shadow:
          0 0 4px rgba(255, 255, 255, 0.3),
          0 0 15px rgba(255, 255, 255, 0.3),
          .5px .5px 0 rgba(0, 0, 0, 0.05),
          -.5px -.5px 0px rgba(0, 0, 0, 0.05),
          .5px -.5px 0px rgba(0, 0, 0, 0.05),
          -.5px .5px 0px rgba(0, 0, 0, 0.05);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  text-shadow:
          0 0 4px rgba(255, 255, 255, 0.3),
          0 0 15px rgba(255, 255, 255, 0.3),
          .5px .5px 0 rgba(0, 0, 0, 0.05),
          -.5px -.5px 0px rgba(0, 0, 0, 0.05),
          .5px -.5px 0px rgba(0, 0, 0, 0.05),
          -.5px .5px 0px rgba(0, 0, 0, 0.05);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

