.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 48px;
  background-color: white;

  .logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 35px;

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
    }

    a {
      display: inline-block;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.72px;
      text-transform: uppercase;
    }
  }
}
.active {
  background: #eaeced;
  border-radius: 128px;
  padding: 12px 24px;
}

.btnExit {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #1F252D;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  svg {
    margin-right: 10px;
  }
}
