.nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-background-secondary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  height: 90px;
}

.control {
  display: flex;
  column-gap: 30px;
}

.wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15px;
  max-width: 1024px;

  ul {
    display: flex;
    align-items: center;
    gap: 30px;

    li {
      display: flex;
      column-gap: 7px;
      align-items: center;
      height: 30px;
    }

    a {
      font-weight: 900;
      letter-spacing: 0.45px;
      color: var(--color-text-white);
      text-transform: uppercase;

      &.active {
        color: var(--button-color-background-secondary);
      }
    }
  }
}

@media (max-width: 790px) {
  .logoBlock {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
}
