.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  gap: 145px;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  max-width: 50%;
}

.li {
  margin-bottom: 10px;
}

.levels {
  margin: 24px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 900;
}

.radio {
  width: 20px;
  height: 20px;
}
