.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  padding: 22px 15px;
  gap: 30px;
}

.textWrapper {
  max-width: 65%;

  h1 {
    line-height: 50px;
  }

  ul {
    padding-left: 15px;

    li {
      margin-bottom: 10px;
      list-style: disc;
    }
  }
}

.levels {
  margin: 20px 0;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 900;
}

.radio {
  display: none;
}

.levelText {
  background: var(--button-color-background);
  color: var(--color-text-white);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.radio:checked + .levelText {
  background: var(--button-color-background-secondary);
}

.notification {
  display: inline-block;

  button {
    margin-left: 5px;
    background-color: transparent;
  }
}

.levelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;

  h2 {
    text-align: center;
    line-height: 60px;
    margin-bottom: 0;
  }
}

.titleDiv {

  .titleGap {
    display: inline-block;
    width: 5px;
    height: 20px;
  }

  .titleSpan {
    background: var(--button-color-background);
    color: var(--color-text-white);
    width: 55px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 5px;
  }
}

.difficultImg {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background: var(--color-background);

  img {
    max-height: 125px;
    opacity: .1;
  }
}

.mainTitle {
  margin-bottom: 0;
  color: var(--button-color-background-secondary);
}
