@import '../../assets/styles/variables';

.button {
  display: inline-block;
  width: 100%;
  min-height: $extra-large;
  border-radius: .75rem;
  cursor: pointer;
  font-size: $large;
  font-weight: 700;
  padding: 1rem;
  margin: $large 0;
}

.blue {
  background-color: $primary;
  color: $light;
  border: none;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
