.button {
  display: inline-block;
  width: 100%;
  min-height: var(--extra-large);
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: var(--large);
  font-weight: 700;
  padding: 1rem;
}

.buttonPrimary {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
