.btn {
  padding: 14px 30px;
  width: 100%;
  background-color: var(--button-color-background);
  color: #ffffff;
  border: none;
  border-radius: 12px;
  transition: opacity 0.3s ease-in-out;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;

  &:hover:not(:disabled) {
    opacity: 0.8;
  }

  &:disabled {
    cursor: auto;
    background-color: var(--button-color-background-disabled);
    color: var(--disabled);
  }
}

.btnOrange {
  padding: 9px 16px;
  background-color: var(--button-color-background-secondary);
}
