@import '@/assets/styles/mixins';

.pageContainer {
  @include page-container;
  padding: 0 15%;
}

.errorName {
  color: var(--silver);
  font-size: 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.errorText {
  color: var(--dark);
  font-size: 3rem;
  font-weight: normal;
  padding-top: 100px;
}
