.container {
  max-width: 380px;
  width: 100%;
  padding: 30px;
  border: 1px solid var(--forms-color-border);
  border-radius: 16px;
  text-align: center;
  backdrop-filter: blur(3px);
  transition: background 0.3s, backdrop-filter 0.3s;

  h1 {
    margin-bottom: 20px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
