.giphy {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}

.giphyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  background: none;
  border-radius: 12px;
  font-weight: 900;
  font-size: 14px;
  height: 46px;
  width: 46px;
  border: 1px solid var(--color-border);
  background: var(--color-background);

  &:hover {
    background: var(--button-color-background-secondary);
    color: var(--color-text-white);
  }
}

.content {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 400px;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 12px;
  z-index: 1;
  border: 1px solid var(--color-border);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-background-secondary);
    border-radius: 6px;
    border: 2px solid #fff;
  }
}

.inputRoot {
  position: relative;
  margin-bottom: 5px;

  svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    opacity: 0.3;
    cursor: pointer;
    transition: none;

    &:hover {
      opacity: 0.5;
    }
  }
}

.input {
  width: 100%;
  padding: 6px 45px 6px 10px;
  border-radius: 8px;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 80px);
  gap: 5px;
}

.image {
  cursor: pointer;

  img {
    border-radius: 4px;
    object-fit: cover;
    height: 80px;
    width: 100%;
    background: #3a3f56;
  }
}
