.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.leaderboard {
  align-self: center;
  flex-grow: 1;
  width: 100%;
  max-width: 630px;
  padding: 55px 15px;
  text-align: center;
  font-weight: 700;

  li {
    margin-top: 8px;
  }

  li:hover {
    background: var(--opacity);
    cursor: default;
  }
}

.title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}
