.container {
  width: 100%;
  border-top: 1px solid var(--color-border);
  padding-top: 20px;
}

.leaderboard {
  align-self: center;
  flex-grow: 1;
  width: 100%;
  max-width: 630px;
  padding: 55px 15px;
  text-align: center;
  font-weight: 700;
}

.title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}
