.selectedEmojiWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;

  .selectedEmoji {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    height: 35px;
    border: 1px solid var(--color-border);
    border-radius: 12px;
    cursor: pointer;

    span {
      font-size: 14px;
    }
  }

  .active {
    border: 1px solid var(--button-color-background-secondary);
    color: var(--button-color-background-secondary);
  }
}

.emojiPicker {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 35px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  position: relative;
  gap: 5px;
  cursor: pointer;

  .emojiList {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    left: -1px;
    bottom: 30px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 12px;
    z-index: 1;
    border: 1px solid var(--color-border);
    gap: 4px;
    cursor: default;
    font-size: 18px;

    .emoji {
      cursor: pointer;
    }
  }
}
