.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forum-thread {
  align-self: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1024px;
  padding: 55px 50px;
  background: #FFFFFF;
  text-align: center;
}

.title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
}

.send-message {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

  input {
    min-height: auto;
    width: 100%;
    padding: 12px 25px;
    border-radius: 12px;
    border: 2px solid #E5E5E5;
    background: #F7F7F7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;

    &::placeholder {
      color: #777
    }
  }

  button {
    min-height: auto;
    width: 300px;
    margin: 0;
    display: flex;
    padding: 15px 12px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: #2D3142;
  }
}

.cards {
  display: grid;
  row-gap: 24px;
}

.card {
  border-radius: 16px;
  display: flex;
  padding: 15px;
  border: 1px solid #E5E5E5;
}

.avatarBlock {
  min-width: 145px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  margin-right: 24px;
  border-right: 1px solid #E5E5E5;
}

.avatar {
  width: 85px;
  height: 85px;
  margin-bottom: 12px;
  background: #FF4B4B;
  border-radius: 50%;
}

.avatarPurple {
  background: #CE82FF;
}

.userName {
  color: #3C3C3C;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.message-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.message {
  text-align: start;
  color: #3C3C3C;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.time {
  margin-top: 10px;
  color: #777;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
