.info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.cards {
  display: grid;
  row-gap: 15px;
  padding-top: 20px;
}

.card {
  border-radius: 16px;
  display: flex;
  padding: 30px;
  gap: 30px;
  border: 1px solid var(--color-border);
  backdrop-filter: blur(3px);
  transition: background 0.3s, backdrop-filter 0.3s;
}

.avatarBlock {
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
  border-right: 1px solid var(--color-border);
  row-gap: 20px;
}

.forumAvatar {
  width: 50px;
  height: 50px;
  background: var(--color-background-secondary);
  border-radius: 50%;
  color: var(--color-text-white);
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.message-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  text-align: start;
  color: #3C3C3C;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.time {
  font-size: 12px;
  text-align: center;
}

.topicCreated {
  display: flex;
  gap: 15px;
  padding-top: 20px;
  border-top: 1px solid var(--color-border);
}

.topicBody {
  margin: 20px 0;
}

.topicTitle {
  h1 {
    display: flex;
    gap: 15px;

    a {
      color: var(--button-color-background-secondary)
    }
  }
}

.commentsCount {
  margin-top: 20px;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
  position: relative;

  textarea {
    min-height: 150px;
    padding-bottom: 60px;
    box-sizing: content-box;
  }
}

.submitButton {
  max-width: 200px;
  position: absolute;
  bottom: 0;
  border-radius: 0 12px;
}
